<h1>Welcome to Hip-Store</h1>
<h2> The store of Hipsters </h2>


<section>
<p>We are a non-profit organiztation working with local co-ops helping our community
be more H-I-P!</p>
</br>
This is a website only for Hipsters and we will kick you out if you don't like Arcade Fire. </p>
</br>
<p> If you meet all the requirements please click the button below</p>
</section>


<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
