<center><h1>Welcome to Hip/Store</h1>
<h2> The store for Hipsters </h2>


<section>
<p>We are a non-profit organiztation working with local co-ops helping our community
be more Hipster concious.This is a website made by hipsters FOR hipsters.  If you meet
the requirements below, please join us!</p>
</section>
</center>


<section>
<ul>
<li>MUST listen to Arcade Fire, The Knocks, and The Flaming Lips</li>
<li>MUST own anything pug related(pug stickers accepted)</li>
<li>MUST volunter at local co-op</li>
<li>SUPER MUST: throw jenga parties (moms basement ok)</li>
</ul>
</section>



<center>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</center>