<p id="notice"><%= notice %></p>

<div class="ui grid">
  <div class="one column large screen only row">
    <div class="column">

        <h1>Wilcommen Aus HipStore</h1>
        <h2>Our product categories:</h2>

        <%# product_list = Products.select(:category).map(&:category).uniq %>
        <%# = product_list %>
        <% @product_categories =  @products.select(:category).map(&:category).uniq %>
        <h3>
          <% @product_categories.each do |category| %>
            <%= category %><span> *** </span>
            <%= link_to products#category, category %>
          <% end %>
        </h3>

        <h3>test link to a category:</h3>


    </div>
  </div>
</div>



    <!-- get rid of this later: -->
    <!-- <% @products.each do |product| %>
      <tr>
        <td> -->
          <%# = link_to 'Show', product %>
          <%# = link_to product.category, user_product %>
          <!-- <%= product.name %>
        </td>
        <td> -->
          <%# = link_to 'Edit', edit_product_path(product) %>
        <!-- </td>
        <td> -->
          <!-- <%# = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    <!-- <% end %> -->


<br>
