<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<ul>
  <% @products.each do |product| %>
    <!-- <%# = category %><span> *** </span> -->
    <%#= link_to 'category', products_category %>
    <li>
      <h3><%#= link_to category, categories_path(category) %></h3>
    </li>
  <% end %>
</ul>
